[submodule "data/repos/glow"]
	path = data/repos/glow
	url = https://github.com/charmbracelet/glow.git
[submodule "data/repos/glamour"]
	path = data/repos/glamour
[submodule "data/repos/wish"]
	path = data/repos/wish
[submodule "data/repos/homebrew-tap"]
	path = data/repos/homebrew-tap
[submodule "data/repos/bubbletea"]
	path = data/repos/bubbletea
[submodule "data/repos/bubbles"]
	path = data/repos/bubbles
[submodule "data/repos/charm"]
	path = data/repos/charm
[submodule "data/repos/lipgloss"]
	path = data/repos/lipgloss
[submodule "data/repos/skate"]
	path = data/repos/skate
[submodule "data/repos/harmonica"]
	path = data/repos/harmonica
[submodule "data/repos/soft-serve"]
	path = data/repos/soft-serve
[submodule "data/repos/keygen"]
	path = data/repos/keygen
[submodule "data/repos/soft-serve-action"]
	path = data/repos/soft-serve-action
[submodule "data/repos/confettysh"]
	path = data/repos/confettysh
[submodule "data/repos/promwish"]
	path = data/repos/promwish
[submodule "data/repos/wishlist"]
	path = data/repos/wishlist
[submodule "data/repos/meta"]
	path = data/repos/meta
[submodule "data/repos/melt"]
	path = data/repos/melt
[submodule "data/repos/runway"]
	path = data/repos/runway
[submodule "data/repos/gum"]
	path = data/repos/gum
[submodule "data/repos/bubbletea-app-template"]
	path = data/repos/bubbletea-app-template
[submodule "data/repos/vhs"]
	path = data/repos/vhs
[submodule "data/repos/inspo"]
	path = data/repos/inspo
[submodule "data/repos/tree-sitter-vhs"]
	path = data/repos/tree-sitter-vhs
[submodule "data/repos/vhs-action"]
	path = data/repos/vhs-action
	url = https://github.com/charmbracelet/vhs-action.git
[submodule "data/repos/scoop-bucket"]
	path = data/repos/scoop-bucket
[submodule "data/repos/ssh"]
	path = data/repos/ssh
[submodule "data/repos/log"]
	path = data/repos/log
[submodule "data/repos/git-lfs-transfer"]
	path = data/repos/git-lfs-transfer
[submodule "data/repos/wizard-tutorial"]
	path = data/repos/wizard-tutorial
	url = https://github.com/charmbracelet/wizard-tutorial.git
[submodule "data/repos/mods"]
	path = data/repos/mods
[submodule "data/repos/x"]
	path = data/repos/x
[submodule "data/repos/console"]
	path = data/repos/console
[submodule "data/repos/hotdiva2000"]
	path = data/repos/hotdiva2000
[submodule "data/repos/pop"]
	path = data/repos/pop
[submodule "data/repos/nur"]
	path = data/repos/nur
[submodule "data/repos/huh"]
	path = data/repos/huh
[submodule "data/repos/freeze"]
	path = data/repos/freeze
[submodule "data/repos/markscribe"]
	path = data/repos/markscribe
[submodule "data/repos/readme-scribe"]
	path = data/repos/readme-scribe
[submodule "data/repos/colorprofile"]
	path = data/repos/colorprofile
[submodule "data/repos/sequin"]
	path = data/repos/sequin
	url = https://github.com/charmbracelet/sequin.git
[submodule "data/repos/fang"]
	path = data/repos/fang
	url = https://github.com/charmbracelet/fang.git
[submodule "data/repos/sh"]
	path = data/repos/sh
[submodule "data/repos/ultraviolet"]
	path = data/repos/ultraviolet
[submodule "data/repos/crush"]
	path = data/repos/crush
[submodule "data/repos/catwalk"]
	path = data/repos/catwalk
[submodule "data/repos/fantasy"]
	path = data/repos/fantasy
[submodule "data/repos/go-genai"]
	path = data/repos/go-genai
[submodule "data/repos/anthropic-sdk-go"]
	path = data/repos/anthropic-sdk-go
[submodule "data/repos/xunicode"]
	path = data/repos/xunicode
[submodule "data/repos/openai-go"]
	path = data/repos/openai-go
